$family-sans-serif: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$primary: #6c167b;
$danger: #f5593d;

@import 'bulma/bulma.sass';
@import './slick.scss';
@import './icons.scss';
@import './base.scss';
@import './page.scss';