$desktop-size: 1024px;
$tablet-size: 768px;
$mobile-size: 425px;

@mixin for-mobile() {
    @media (max-width: $mobile-size) {
        @content;
    }
}

@mixin for-tablet() {
    @media (min-width: $tablet-size + 1) and (max-width: $desktop-size - 1) {
        @content;
    }
}

@mixin for-desktop() {
    @media (min-width: $desktop-size) {
        @content;
    }
}

@mixin for-gt($size) {
    @media (min-width: $size) {
        @content;
    }
}

@mixin for-lt($size) {
    @media (max-width: $size) {
        @content;
    }
}

.page {
    @include for-mobile() {
        padding-bottom: 60px;
    }

    @include for-desktop() {
        padding-bottom: 0;
    }
}

#header {
    position: relative;
    text-align: center;
    background-image: url('../img/woman-hero.jpg');
    background-position: left center;
    background-size: cover;
    z-index: 1;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .typography {
        color: white;
    }

    .hero-head {
        color: white;
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, .9) 0%,
            rgba(0, 0, 0, 0) 100%
        );

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1024px;
            padding: 1rem 2rem;
        }

        img {
            max-width: 172px;
        }

        .button {
            margin: 0;

            + .button {
                margin-left: 8px;
            }
        }

        .phone-button {
            font-size: 14px;
            color: inherit;

            &:hover {
                background-color: rgba(255, 255, 255, .1);
            }
        }

        .whatsapp-button {
            display: none;
        }

        @include for-desktop() {
            img {
                max-width: 220px;
            }

            .phone-button {
                font-size: 18px;
                padding-top: 5px;
                padding-bottom: 6px;
            }

            .whatsapp-button {
                display: inline-block;
                text-transform: none;
            }
        }
    }

    .hero-body {
        padding: 1rem 1rem 5rem;

        @include for-desktop() {
            padding: 2rem 0;

            .title {
                font-weight: normal;
            }
        }
    }

    .hero-foot {
        margin-top: auto;
        width: 100%;
        padding: 8rem 1rem 1rem;
        background: linear-gradient(to top,
            rgba(0, 0, 0, .7) 0%,
            rgba(0, 0, 0, 0) 100%
        );

        .typography {
            font-size: 1.3rem;
            font-weight: bold;

            span {
                padding: 0 .25em .2em;
                border-radius: 5px;
                background-color: rgba(108, 22, 123, .6);
            }
        }

        .button {
            display: none;
        }

        @include for-desktop() {
            padding: 12rem 1rem 2rem;

            .typography {
                font-size: 2rem;
            }

            .button {
                display: inline-block;
                margin-top: 2rem;
                max-width: none;
            }
        }
    }
}

#persona {
    .lead {
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            position: absolute;
            background-image: url('https://u8.filesonload.ru/s/34qce4051/dae922b126caaef4b80b514cfcea0e1b/2bd187153074fa7752a854d7247617ff.png');
            background-size: contain;
            width: 52px;
            height: 82px;
            top: 100%;
            left: 100%;

            @include for-mobile() {
                display: none;
            }
        }
    }
}

#problem {
    background-color: #f49fa6;
    padding-bottom: 0;

    p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .container {
        max-width: 1024px;
    }

    .columns {
        margin: 0;

        .column {
            padding: 0;
        }

        @include for-mobile() {
            display: flex;
            flex-direction: column;

            .column:first-child {
                order: 1;
            }
        }
    }

    .image {
        display: block;
        max-width: 360px;
        margin: 2rem 3rem 0 auto;
    }

    .lead {
        font-size: 1.5rem;
        margin-top: 2rem;

        @include for-mobile() {
            text-align: center;
        }
    }
}

#solution {

}

#offer {
    text-align: center;

    .button.call-to-action {
        display: inline-block;
        max-width: none;
    }
}

#audience {
    background-color: #ede1e1;

    .container {
        max-width: 720px;
    }

    .media-list {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        .media {
            flex: 1;
            flex-basis: 50%;
            padding: 2rem 1rem;
            margin: 0;

            .image {
                margin: 0 auto 1rem;
                width: 64px;
                height: 64px;
            }

            .text {
                text-align: center;
            }
        }
    }
}

#lesson {
    .media-list {
        @include for-desktop() {
            display: flex;
            flex-wrap: wrap;
            max-width: 1024px;
        }

        .media {
            @include for-desktop() {
                flex-basis: 50%;
                margin: 0;
                padding: 1rem;
            }
        }
    }
}

#about {
    .box {
        max-width: 640px;
        padding: 0;
        margin: 2rem auto 2rem;
        overflow: hidden;
    }
}

#teachers {
    background-color: #e8e8e8;
    
    .media-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 720px;

        .media {
            flex: 1;
            margin: 0;
            padding: 0;
            flex-basis: 100%;

            @include for-gt($mobile-size) {
                flex-basis: 50%;
            }

            @include for-gt($tablet-size) {
                flex-basis: 33%;
            }
        }
    }

    .card {
        position: relative;
        width: 100%;
        margin: 8px;

        .card-image {
            width: 100%;
        }

        .card-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.8));
            padding: 16px;
            
            .title,
            .subtitle {
                color: white;
                font-size: 24px;
                display: block;
                margin-bottom: 0;
                text-align: left;
            }
        }

        &::after {
            content: '▸';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            color: white;
            font-size: 128px;
            opacity: 0;
            transition: all .3s;
        }

        &:hover {
            &::after {
                opacity: .25;
            }
        }
    }
}

#video {
    background-color: #ede1e1;
    background-image: url('../img/pattern.png');
    background-size: 256px;

    .video {
        position: relative;
        display: block;
        margin-top: 2rem;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 0;
        overflow: hidden;

        @media (min-width: $desktop-size) {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
        }

        &:before {
            content: "";
            display: block;
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

#contacts {
    text-align: center;
    
    .media-list {
        max-width: 425px;

        .media {
            .icon {
                .fa {
                    font-size: 2rem;
                }

                svg {
                    width: 32px;

                    path {
                        fill: dodgerblue;
                    }
                }
            }
        }
    }
}

#lesson {
    .info-block:last-of-type {
        margin-bottom: 0;
    }
}

#form {
    background-color: #ede1e1;

    .title {
        margin-bottom: 1rem;
    }

    form {
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #timer {
        margin-top: 2rem;

        .tag {
            margin-top: 1rem;
        }
    }
}

#footer {
    background-color: #343434;
    color: white;
    text-align: center;

    .title,
    .subtitle {
        color: white;
    }

    .button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

#dialog {
    .modal-card-body {
        text-align: center;

        img {
            margin: 1rem 0;
        }
    }
}

.call-to-action {
    display: inline-block;
    max-width: none;
}

.call-to-action.call-to-action--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: initial;
    z-index: 100;
    box-shadow: 0 0px 6px 4px rgba(0,0,0,.2);
    border-radius: 0;

    @media (min-width: $desktop-size) {
        display: none;
    }
}